header {
    padding-bottom: 20px;
    padding-top: 110px;
}

header>.container {
    background-image: url("../img/ny-3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 1em;
    min-height: 700px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 0px;
}

.parent-content {
    padding-right: 30px;
    padding-left: 30px;
}
@media(max-width:768px) {
    header{
        padding-top: 50px;
    }
    header .container{
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 0;
        padding-right: 0;
    }
}

/*login*/
#loginForm .error-message {
    background: white;
    color: red;
    padding: 5px;
    width: 100%;
    z-index: 2;
}

.remindPass {
    height: 58px;
}
.remindPass span{
    color:  #708ef9;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

/*register*/
#registrationForm .iconForm {
    font-size: 30px;
    position: absolute;
    right: 65px;
    top: 30px;
    z-index: 3;
}
#registrationForm .fa-close {
    color: #FA787E;
}

#registrationForm .fa-check {
    color: #78FA89;
}

#registrationForm .row.control-group{
    position: relative;
}

#registrationForm .error-message {
    background: white;
    bottom: 0px;
    color: red;
    left: 0px;
    padding: 5px;
    position: absolute;
    width: 100%;
    z-index: 2;
}