nav.navbar.navbar-default.navbar-fixed-top(ng-controller="navBarCtrl")
    .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .logo
                // <img class="img-responsive" src="img/free-60-icons-06.png" alt="">
                a.navbar-brand(href='#page-top')
                    span.fa.fa-5px.fa-suitcase.main-icon My Suitcase
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li.hidden
                    a(href='#page-top')
                li.page-scroll(ng-if='isLogIn()')
                    a(href='#travels', ng-click='seeMyTravels()') Mis Viajes
                li.page-scroll(ng-if='currentSection!=undefined')
                    a(href='#page-top') {{topButton}}
                li.page-scroll
                    a(href='#about') Sobre nosotros
                li#registrationButton.page-scroll(ng-if='!isLogIn()')
                    a(href='#registration', ng-click='logIn()') Registrarme
                li#logInButton.page-scroll(ng-if='!isLogIn()')
                    a(href='#logIn') Log In
                li#logOutButton.page-scroll(ng-if='isLogIn()')
                    a(href='#page-top', ng-click='logOut()') Log Out
                li(ng-if='isLogIn()')
                    a(href='#', active='') {{user.name}}
        // /.navbar-collapse
    // /.container-fluid