<div ng-controller="chooseOptionsController" class="chooseOptionsContainer">

    <div class="text-center header">
        <h2>Choose the options</h2>
        <hr class="star-primary">
    </div>
    <div class="col-lg-8 col-lg-offset-2 chooseOptionsParent">
        <ng-form name="chooseOptionsForm" id="chooseOptionsForm" novalidate>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Destino</label>
                    <input type="text" class="form-control" ng-class="{'form-touched':chooseOptionsForm.$submitted}" placeholder="Destino" name="destiny" ng-model="travel.destiny" required>
                    <p class="help-block text-danger"></p>
                    <span class="fa fa-5px fa-check iconForm" ng-show="chooseOptionsForm.destiny.$touched && chooseOptionsForm.destiny.$valid"> </span>
                    <span class="fa fa-5px fa-close iconForm" ng-show="chooseOptionsForm.destiny.$touched && chooseOptionsForm.destiny.$invalid"> </span>
                </div>
                <div ng-show="chooseOptionsForm.$submitted || chooseOptionsForm.destiny.$touched">
                    <div class="error-message" ng-show="chooseOptionsForm.destiny.$error.required">Es necesario seleccionar un destino</div>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>fecha</label>
                    <!--<input type="text" class="form-control" placeholder="Fecha viaje (dd/mm/aaaa) (opcional)" ng-model="travel.date" name="date">-->
                    <input type='text' class="form-control datetimepicker" ng-model="today" name="date" placeholder="Fecha viaje (dd/mm/aaaa) (opcional)"/>

                    <p class="help-block text-danger"></p>
                    <span class="fa fa-5px fa-check iconForm" ng-show="isValidDate()"> </span>
                    <span class="fa fa-5px fa-close iconForm" ng-show="chooseOptionsForm.date.$touched && !isValidDate() && $scope.travel.date != undefined"> </span>
                </div>
                <div ng-show="(chooseOptionsForm.$submitted || chooseOptionsForm.date.$touched) && $scope.travel.date != undefined    ">
                    <span  class="error-message" ng-show="!isValidDate()">No es una fecha válida</span>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Número de dias</label>
                    <input type="number" min="1" class="form-control" placeholder="Número de dias (opcional)" data-ng-model="travel.numDays" name="numDays">
                    <p class="help-block text-danger"></p>
                    <span class="fa fa-5px fa-check iconForm" ng-show="chooseOptionsForm.numDays.$touched && isValidNumDays()"> </span>
                    <span class="fa fa-5px fa-close iconForm" ng-show="chooseOptionsForm.numDays.$touched && chooseOptionsForm.numDays.$modelValue && !isValidNumDays()"> </span>
                </div>
                <div ng-show="chooseOptionsForm.numDays.$modelValue && (chooseOptionsForm.$submitted || chooseOptionsForm.numDays.$touched)">
                    <span  class="error-message" ng-show="chooseOptionsForm.numDays.$error.number">Debes introducir un numero</span>
                    <span  class="error-message" ng-show="!isValidDate()">Debes introducir una fecha válida</span>
                </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <button type="submit" ng-click="setOptions(chooseOptionsForm)" class="btn btn-success btn-lg" ng-disabled="!checkForm(chooseOptionsForm)">Hacer lista</button>
                </div>
            </div>
        </ng-form>
    </div>

</div>